@model IEnumerable<Book>

@await Html.PartialAsync("_BookPartial")

@{
    if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>GenreID</th>
                    <th>AuthorID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model)
                {
                    <tr>
                        <td>@b.ID</td>
                        <td>@b.Name</td>
                        <td>@b.Genre.ID</td>
                        <td>@b.Author.ID</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}