<h2 class="welcome">Genres</h2>

<!-- SEARCH -->
<form method="get" asp-controller="Genre" asp-action="SearchByID">
    <input type="number" name="id" placeholder="Search by ID" required />
    <button type="submit" class="btn btn-search">Search</button>
</form>

<form method="get" asp-controller="Search" asp-action="SearchGenreByName">
    <input type="text" name="name" placeholder="Search by name" required />
    <button type="submit" class="btn btn-search">Search</button>
</form>
@{
    if (User.IsInRole("Admin"))
    {
        <!-- ADD -->
        <h3 class="welcome">Add Genre</h3>
        <form method="post" asp-controller="Genre" asp-action="AddGenre">
            <input type="text" name="name" placeholder="Name" required />
            <button type="submit" class="btn btn-add">Add</button>
        </form>

        <!-- UPDATE -->
        <h3 class="welcome">Update Genre</h3>
        <form method="post" asp-controller="Genre" asp-action="UpdateGenre">
            <input type="number" name="id" placeholder="ID" required />
            <input type="text" name="name" placeholder="Name" />
            <button type="submit" class="btn btn-update">Update</button>
        </form>

        <!-- DELETE -->
        <h3 class="welcome">Delete Genre</h3>
        <form method="post" asp-controller="Genre" asp-action="DeleteGenre">
            <input type="number" name="id" placeholder="ID" required />
            <button type="submit" class="btn btn-delete">Delete</button>
        </form>
    }
}

<hr />