@model IEnumerable<Genre>
@{
    ViewData["Title"] = "Genre View";
}

<div class="accordion-item">
    <a href="#" class="accordion-toggle">🏷 Genre actions</a>

    <div class="submenu">
        @await Html.PartialAsync("_GenrePartial")
    </div>
</div>

@{
    if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr><th>ID</th><th>Name</th></tr>
            </thead>
            <tbody>
                @foreach (var g in Model)
                {
                    <tr>
                        <td>@g.ID</td>
                        <td>@g.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No genres found.</p>
    }
}
